node_modules
.nyc_output
npm-debug.log
_stats-he.json
_stats.1
_stats.json
data.txt
mold.json
new-he.json
o_stats.1.json
o_stats.json.json
ostats.json.he.json
ostats.json.json
out-stats-1.2-b.json
out-stats-1.2-b2.json
out-stats-1.2.json
out1
out1a
stats-1.2-manual-trim-s.json
stats-1.2-manual-trim.json
stats-1.2.json
stats-1.2a.json
stats.json
stats.json.he.json
